@model MayBeYouMissSomeNews.Models.employee
@{ Layout = null; }
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->

<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Ðang ký</title>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- //Meta tags -->
    @*<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
        <link href="css/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->*@
    @Styles.Render("~/Content/cssRegisterAndLoginAdmin")
</head>

<body>
    <section class="w3l-form-36">
        <div class="form-36-mian section-gap">
            <div class="wrapper">
                <div class="form-inner-cont">
                    <h3>Ð?i M?t Kh?u Admin</h3>
                    @if (ViewBag.Status != null)
                    {
                        <p style="color:red">*@ViewBag.Status</p> } @*<form action="#" method="post" class="signin-form">*@
                    @using (Html.BeginForm("ChangepasswordAdmin", "Accounts", FormMethod.Post, new { @class = "sign-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-input">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span> @*<input type="email" name="email" placeholder="Email" required />*@
                            @Html.TextBox("email", "", new { required = "required", placeholder = "Email" })
                        </div>

                        <div class="form-input">
                            <span class="fa fa-key" aria-hidden="true"></span>@*<input type="password" name="password" placeholder="M?t kh?u" required />*@
                            @Html.TextBox("password", "", new { required = "required", placeholder = "M?t kh?u", type = "password" })
                        </div>
                        <div class="form-input">
                            <span class="fa fa-key" aria-hidden="true"></span>@*<input type="password" name="password" placeholder="M?t kh?u" required />*@
                            @Html.TextBox("newpassword", "", new { required = "required", placeholder = "M?t kh?u M?i", type = "password" })
                        </div>
                        <div class="form-input">
                            <span class="fa fa-key" aria-hidden="true"></span> @*<input type="password" name="password" placeholder="Nh?p l?i m?t kh?u" required />*@
                            @Html.TextBox("renewpassword", "", new { required = "required", placeholder = "Nh?p l?i m?t kh?u M?i", type = "password" })
                        </div>

                        <div class="login-remember d-grid">

                            <input class="btn theme-button" value="Ð?i m?t Kh?u" type="submit" />
                        </div>}


                    <p style="padding-left:30px" class="signup"> Quay l?i <a href="LoginAdmin" class="signuplink">Ðang nh?p</a></p>
                </div>

                <!-- copyright -->
                <div class="copy-right">
                    <p>
                        © 2020 by MayBeYouMissSomeNews
                    </p>
                </div>
                <!-- //copyright -->
            </div>
        </div>
    </section>
</body>
</html>

