
@using MayBeYouMissSomeNews.Models
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/LayoutOfWeb.cshtml";
}


   @* <section class="w3l-contact-2 py-5">
        <div class="form-35-mian section-gap">
            <h3 class="section-title-left">Leave Us a message </h3>
            <div class="contact-grids d-grid">
                <div class="contact-left">
                    @if (Session["Account"] != null)
                    {
                        user u = (user)Session["Account"];
                        <img src="@u.photo" style="width: 722px; height: 482px">

                    }
                    @if (Session["Account"] == null)
                    {
                        user u = (user)Session["Account"];
                        <img src="~/Content/images/avatar.jpg" style="width: 722px; height: 482px">

                    }

                </div>
                <div class="contact-right">
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">

                        @if (Session["Account"] != null)
                        {

                            user u = (user)Session["Account"];
                            <div class="input-grids">

                                <div style="magin-top: 50px">
                                    <h4>Your Name</h4>
                                    <a>@u.name</a><hr />
                                    <h4>Gmail</h4>
                                    <a>@u.gmail</a><hr />
                                    <h4>Gender</h4>
                                    <a>@u.gender</a> <hr />
                                    <h4>Created Date</h4>
                                    <a>@u.createddate</a>  <hr />
                                </div>
                            </div>

                            <a href="@Url.Action("EditProfile","Home", new { id = u.userid })" class="btn btn-primary">Edit Profile</a>

                        }
                        @if (Session["Account"] == null)
                        {
                            <div class="input-grids">
                                <div class="row justify-content-center">
                                    <div class="col-lg-3 order-lg-2">
                                        <div class="card-profile-image">
                                            <a href="#">
                                                <img src="~/Content/images/avatar.jpg" class="rounded-circle" style="width: 150px; height: 150px">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" name="w3lName" id="w3lName" placeholder="Your Name*" class="contact-input"
                                       required="" />
                                <input type="email" name="w3lSender" id="w3lSender" placeholder="Your Email*" class="contact-input"
                                       required="" />
                                <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Your Gender*" class="contact-input"
                                       required="" />
                                <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Your CreatedDay*" class="contact-input"
                                       required="" />
                                <a class="btn btn-primary">Edit Profile</a>
                            </div>

                        }

                    </form>
                </div>
            </div>
    </section>*@
<section class="w3l-contact-2 py-5">
    <div class="container py-lg-5 py-md-4">
        <h3 class="section-title-left">Thông tin của bạn</h3>
        @if (Session["Account"] != null)
        {

            user u = (user)Session["Account"];
            <div class="contact-grids d-grid">
                <div class="contact-left">
                    <div class="cont-details">
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-id-card-o"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Họ và tên</h6>
                                <p>@u.name</p>
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Giới tính</h6>
                                
                                    @if(@u.gender==1)
                                {
                                    <p>Nữ</p>
                                    }
                                else if(@u.gender==0)
                                {
                                <p>Nam</p>
                                }
                                else{
                                <p>Khác</p>
                                }
                               
                            </div>
                        </div>
                        <div class="cont-top margin-up">
                            <div class="cont-left text-center">
                                <span class="fa fa-envelope-o"></span>
                            </div>
                            <div class="cont-right">
                                <h6>Email</h6>
                                <p>@u.gmail</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-right">

                    <img src="~/Content/assets/img/avatar/author.jpg" width="400" height="400" alt="" class="img-fluid radius-image news-image">
                    <br />
                    <br />
                    <button class="btn btn-style btn-outline"><a href="/Home/EditProfile/@u.userid">Chỉnh sửa thông tin</a></button>
                </div>
            </div>
        }
</section>